.cover__subtitle {
  max-width: 360px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: none;
}
@media screen and (max-width: 767px) {
  .cover__subtitle {
    min-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
