.footer__link {
  margin: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}