.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    transition: 2s linear;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    text-decoration: none;
    align-items: center;
    position: relative;
    object-fit: cover;
    min-height: 740px;
    max-width: 100%;
    display: flex;
    z-index: 0;
    gap: 32px;
}

.cover__overlay:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #2a2c2f;
    opacity: 0.3;
    transition: 0.9s linear;

}

.cover__overlay:hover:before {
    background: #2a2c2f;
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        gap: 16px;
        min-height: 200px;
    }
}